@import '~@angular/material/theming';
@import '/variables.scss';

#content{
    color:$text;
    text-align: left;
    @include mat-elevation(4);
    background-color: $evenMoreDarkerBackground;
    height: 6vw;
    margin:1vw;
    font-size: 1vw;
    padding:1vw;
    font-size: 1.5vw;
    border-radius: 0.75vw;
    #name{
        height: 2vw;
        line-height: 2vw;
        img{
            width: 1vw;
            height: 1vw;
        }
    }
    #spacer{
        height: 2vw;
    }
    #position{
        font-size: 1vw;
        height: 2vw;
        line-height: 2vw;
        text-align: right;
        span{
            color:$selectedText;
            font-size: 1.75vw;
        }
    }
}