<div class = "parent">
    <div class = "child" id = "name">
        Klub
    </div>
    <div class = "child" id = "played">
        RM
    </div>
    <div class = "child" id = "won">
        W
    </div>
    <div class = "child" id = "draw">
        R
    </div>
    <div class = "child" id = "lost">
        P
    </div>
    <div class = "child" id = "lost">
        BZ
    </div>
    <div class = "child" id = "goalsAgainst">
        BS
    </div>
    <div class = "child" id = "goalDifference">
        RB
    </div>
    <div class = "child" id = "points">
        Pkt.
    </div>
    <div class = "child" id = "lastGames">
        Ostatnie mecze
    </div>
</div>