@import '~@angular/material/theming';
@import '/variables.scss';

#content{  
    position: absolute;
    left: 70%;
    transform: translate(-50%);
    margin: 1em;
    width:50vw;
    @include mat-elevation(10);
    border-radius: 1em;
    background-color: $darkerBackground;
    overflow: auto;
    height:auto;

    #divider{
        margin-bottom: 0.5vw;
    }
    #loading{
        margin-top:10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        ::ng-deep{
            .mat-progress-spinner circle, .mat-spinner circle {
                stroke: $selectedBackground;
            }
            
        }
    }
}

::-webkit-scrollbar{
    width: 0;
}
::ng-deep{
    .mat-divider{
        border-top-color:$selectedBackground;
    }
}