@import '~@angular/material/theming';
@import '/variables.scss';

#content{
    color:$text;
    text-align: left;
    @include mat-elevation(4);
    background-color: $evenDarkerBackground;
    height: 5.5vw;
    margin:1vw;
    font-size: 1vw;
    padding:1vw;
    font-size: 1.5vw;
    #name{
        height: 2vw;
        line-height: 2vw;
    }
    #date{
        font-size: 1vw;
        span{
            color:$selectedText;
            font-size: 1.25vw;
        }
    }
    #position{
        font-size: 1vw;
        height: 2vw;
        line-height: 2vw;
        text-align: right;
        span{
            color:$selectedText;
            font-size: 1.25vw;
        }
    }
}