@import '/variables.scss';

div{
    text-align: center;
    font-size: 1vw;
    line-height: 2vw;
    height: 2vw;
}
.child{
    float:left;
    width: 2.5vw;
    border:none;
}

#position{
    widows: 2vw;
}


#name{
    width:15vw;

}
#lastGames{
    width:11vw;
}
.parent{
    overflow: hidden;
}
img{
    width: 1.5vw;
    height: 1.5vw;
    float: left;;
}
